#float {
    position: relative;
    -webkit-animation: floatBubble 2s infinite  normal ease-out;
}
@-webkit-keyframes floatBubble {
    100% {
        left:500px;
        rotate()
    }
    0% {
        right: 0px;
    }
}