#float img {
    /*position: relative;*/
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

#float img:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}